.menu {
    background: #1D1D35;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 12px;
}

.nav-container #navbar-links {
    display: flex;
    align-items: center;
}

.nav-container ul {
    display: flex;
}

.nav-container li {
    position: relative;
    list-style: none;
}

.nav-container li a {
    padding: 10px;
}

.nav-container li a.active {
    color: var(--secondaryColor);
}

.nav-container li a:hover::after, 
.nav-container li a.active::after {
    content: '';
    background-color: var(--secondaryColor);
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 10px;
}

#navbar-links button {
    height: 75%;
}

#logo-div {
    display: flex;
    align-items: center;
}

#toggle-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: .75rem;
    right: 1rem;
    width: 30px;
    height: 21px;
    padding: 8px 0;
}

#toggle-btn .bar {
    background-color: white;
    width: 100%;
    height: 3px;
    border-radius: 10px;
}

@media (max-width: 600px){
    #toggle-btn {
        display: flex;
        position: fixed;
        top: 10px;
    }
    
    .menu {
        flex-direction: column;
    }
    
    .nav-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    
    #navbar-links.active {
        transform: translateY(100px);
    }
    
    #navbar-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: -50px;
        left: 0;
        background: #1D1D35;
        width: 100%;
        z-index: -1;
        transition: 1s;
    }
    
    .nav-container ul {
        flex-direction: column;
        align-items: center;
    }
    
    .nav-container li {
        padding: 5px 0;
    }
    
    #navbar-links button {
        display: none;
    }
}